/**
* The admin css file of ZenTaoCMS.
*
* @copyright   Copyright 2009-2010 QingDao Nature Easy Soft Network Technology Co,LTD (www.cnezsoft.com)
* @author      Chunsheng Wang <chunsheng@cnezsoft.com>
* @package     ZenTaoCMS
* @version     $Id: style.css 1454 2009-10-23 01:45:26Z wwccss $
* @link        http://www.zentao.net
*/
html, body{background:#fff;}
#docbox {width:100%; margin:auto; padding-top:50px;}
.debugwin {background:white;}
.table-1 {width:98%; margin-left:5px}
#topmenu {background:#155991; color:white; font-size:14px; font-weight:bold;}
#footer  {background:#155991; color:white; padding-top:5px}
caption {background:#ddd; border:1px solid #ddd; color:#222; margin-bottom:5px;}
caption a{color:#222;}
table td, th{border-color:#9fa0a0;height:25px;}
table th{height:25px;}
fieldset{margin-left:5px;width:96.5%;}
li{line-height:200%}
#select {margin-bottom:1px; padding:0px; color:#000}
#querybox table{margin:0px;}
#logo {height:44px; line-height:44px; margin:0px; margin-right:20px; font-size:18px; color:#999}
#profile{height:44px; line-height:44px;}
