#docbody {padding-bottom:0px;padding-top:38px;}
#logo {height:44px; line-height:44px; margin:0px; margin-right:20px; font-size:18px; color:#999}
#profile{height:44px; line-height:44px;}
caption {background:#ccc; border:none; margin-bottom:5px;}
caption a{color:#000;}
.colhead th  {background:#ccc; border:none; margin-bottom:5px;}
.box-title   {background:#ccc; border:none; color:#000;}
.box-content{ margin-bottom:0px;border:2px solid #bbb;}
.table-1{margin-bottom:1px;}
