h3 {
      background-color: #f5f5f5;
      border-bottom: 1px solid #e5e5e5;
      font-family: 'Trebuchet MS',sans-serif;
      font-weight: normal;
      margin: 0px;
      font-size:13px;
}
#topic {
      background-color: #f5f5f5;
      border: 1px solid #e5e5e5;
      padding: 7px 7px 0;
}

#faqContent {
      margin: 5px 0;
      padding: 7px 7px 0;
} 
#faqContent hr{margin:0px;}
#docbody ul li {
      list-style: decimal outside none;
}
#sidenav.affix{top:65px;}
